.todo-list {
  margin: 0 auto;
  border: 1px solid 1px black;
  width: 400px;
}

.btn-action {
  margin-left: 8px;
  margin-bottom: 8px;
  height: 25px;
  width: 80px;
  background-color: lightskyblue;
  border-radius: 10px;
  font-weight: bold;
}

.li-text {
  font-size: 16px;
}

.todo-input {
  height: 20px;
  width: 250px;
  font-size: 14px;
}

.btn-add {
  width: 50px;
  height: 27px;
  /* border-radius: 6px; */
  margin-left: 8px;
}